<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>

    <form [formGroup]="formulario" (ngSubmit)="cadastrarUsuario()">
      <div class="form-group">
        <input type="email"
          class="{{!formulario.get('email').touched ? 'form-control' : formulario.get('email').touched && formulario.get('email').invalid ? 'form-control is-invalid' :formulario.get('email').touched && formulario.get('email').valid ? 'form-control is-valid':'form-control is-valid'}}"
          formControlName="email" placeholder="E-mail">
        <div *ngIf="formulario.get('email').errors?.required && formulario.get('email').touched"
          class="invalid-feedback">
          Email é obrigatório
        </div>
        <div *ngIf="formulario.get('email').errors?.pattern && formulario.get('email').touched"
          class="invalid-feedback">
          Email é invalido
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="nomeCompleto" placeholder="Nome completo"
          class="{{!formulario.get('nomeCompleto').touched ? 'form-control' : formulario.get('nomeCompleto').touched && formulario.get('nomeCompleto').invalid ? 'form-control is-invalid' :formulario.get('nomeCompleto').touched && formulario.get('nomeCompleto').valid ? 'form-control is-valid':'form-control is-valid'}}">

        <div *ngIf="formulario.get('nomeCompleto').errors?.required && formulario.get('nomeCompleto').touched"
          class="invalid-feedback">
          Nome completo é obrigatório
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="nomeUsuario" placeholder="Nome de usuário"
          class="{{!formulario.get('nomeUsuario').touched ? 'form-control' : formulario.get('nomeUsuario').touched && formulario.get('nomeUsuario').invalid ? 'form-control is-invalid' :formulario.get('nomeUsuario').touched && formulario.get('nomeUsuario').valid ? 'form-control is-valid':'form-control is-valid'}}">
        <div *ngIf="formulario.get('nomeUsuario').errors?.required && formulario.get('nomeUsuario').touched"
          class="invalid-feedback">
          Nome usuário é obrigatório
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="password" class="form-control" formControlName="senha" placeholder="Senha" id="mostrarSenha"
            class="{{!formulario.get('senha').touched ? 'form-control' : formulario.get('senha').touched && formulario.get('senha').invalid ? 'form-control is-invalid' :formulario.get('senha').touched && formulario.get('senha').valid ? 'form-control is-valid':'form-control is-valid'}}">
          <img class="mostrar" [src]="olhoSenha" (mousedown)="mouseDown('senha')" (mouseup)="mouseUp('senha')">
          <div *ngIf=" formulario.get('senha').errors?.required && formulario.get('senha').touched"
            class="invalid-feedback">
            Senha é obrigatório
          </div>

          <pre *ngIf="formulario.get('senha').errors?.pattern && formulario.get('senha').touched"
            class="invalid-feedback">
-deve conter número.
-deve conter letra minúscula.
-deve conter letra maiúscula.
-deve conter no mínimo 8 caracteres.
         </pre>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <input type="password" class="form-control" formControlName="confirmarSenha" placeholder="Confirmar Senha"
            id="mostrarConfirmarSenha"
            class="{{!formulario.get('confirmarSenha').touched ? 'form-control' : formulario.get('confirmarSenha').touched && (formulario.get('confirmarSenha').invalid ||formulario.get('confirmarSenha').errors?.mismatch )? 'form-control is-invalid' :formulario.get('confirmarSenha').touched && formulario.get('confirmarSenha').valid ? 'form-control is-valid': ''}}">
          <img class="mostrar" [src]="olhoConfirmarSenha" (mousedown)="mouseDown('confirmar')"
            (mouseup)="mouseUp('confirmar')">
          <div *ngIf=" formulario.get('confirmarSenha').errors?.required && formulario.get('confirmarSenha').touched"
            class="invalid-feedback">
            Senha é obrigatório
          </div>
          <pre *ngIf="!formulario.get('confirmarSenha').errors?.mismatch && formulario.get('confirmarSenha').touched"
            class="invalid-feedback">
-A senha deve ser iguais.
         </pre>
        </div>
      </div>
      <!-- [disabled]='!formulario.valid' -->
      <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]='!formulario.valid'>Cadastre-se</button>
    </form>
    <hr />

    <p class="small text-center">Ao cadastrar-se, você concorda com nossos <b>Termos</b> e <b>Política de
        Privacidade</b>.</p>

  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Tem uma conta? <a href="#" class="card-link" (click)="exibirPainelLogin()">Faça login</a>
    </p>
  </div>
</div>
